{% extends 'base.html.twig' %}

{% block title %}index{% endblock %}

{% block body %}
    <div class="nav justify-content-left" id="bannere">
        <h1>Phrase d'accorche</h1>
    </div>
    
    <div class="row entries-wrap wide">
            <div class="entries" >

                <article class="col-block">
                    
                    <div class="item-entry" data-aos="zoom-in">
                        <div class="item-entry__thumb">
                            <img src="{{ asset('css/images/fond-snowboard.jpg') }}" height="250vh" alt="">
                        </div>
        
                        <div class="item-entry__text">    
    
                            <h1 class="item-entry__title"><a href="single-standard.html">3 Benefits of Minimalism In Interior Design.</a></h1>
                                
                            <div class="item-entry__date">
                                <p>June 15, 2018</p>
                            </div>
                        </div>
                    </div> <!-- item-entry -->

                </article> <!-- end article -->

                <article class="col-block">
                    
                    <div class="item-entry" data-aos="zoom-in">
                        <div class="item-entry__thumb">
                            <img src="{{ asset('css/images/fond-snowboard.jpg') }}" height="250vh" alt="">
                        </div>
        
                        <div class="item-entry__text">
                            
    
                            <h1 class="item-entry__title"><a href="single-standard.html">10 Interesting Facts About Caffeine.</a></h1>
                                
                            <div class="item-entry__date">
                                <p>June 15, 2018</p>
                            </div>
                        </div>
                    </div> <!-- item-entry -->
    
                </article> <!-- end article -->

                <article class="col-block">
                    
                    <div class="item-entry" data-aos="zoom-in">
                        <div class="item-entry__thumb">
                            <img src="{{ asset('css/images/fond-snowboard.jpg') }}" height="250vh" alt="">
                        </div>
        
                        <div class="item-entry__text">
                            
    
                            <h1 class="item-entry__title"><a href="single-standard.html">The Power of Music to Reduce Stress.</a></h1>
                                
                            <div class="item-entry__date">
                                <p>June 15, 2018</p>
                            </div>
                        </div>
                    </div> <!-- item-entry -->
    
                </article> <!-- end article -->

                <article class="col-block">
                
                    <div class="item-entry" data-aos="zoom-in">
                        <div class="item-entry__thumb">
                            <img src="{{ asset('css/images/fond-snowboard.jpg') }}" height="250vh" alt="">
                        </div>
        
                        <div class="item-entry__text">
                            
    
                            <h1 class="item-entry__title"><a href="single-standard.html">The Pomodoro Technique Really Works.</a></h1>
                                
                            <div class="item-entry__date">
                                <p>June 15, 2018</p>
                            </div>
                        </div>
                    </div> <!-- item-entry -->

                </article> <!-- end article -->

                <article class="col-block">
                
                    <div class="item-entry" data-aos="zoom-in">
                        <div class="item-entry__thumb">
                            <img src="{{ asset('css/images/fond-snowboard.jpg') }}" height="250vh" alt="">
                        </div>
        
                        <div class="item-entry__text">
                            
    
                            <h1 class="item-entry__title"><a href="single-standard.html">Visiting Theme Parks Improves Your Health.</a></h1>
                                
                            <div class="item-entry__date">
                                <p>June 15, 2018</p>
                            </div>
                        </div>
                    </div> <!-- item-entry -->
    
                </article> <!-- end article -->

                <article class="col-block">
                
                    <div class="item-entry" data-aos="zoom-in">
                        <div class="item-entry__thumb">
                            <img src="{{ asset('css/images/fond-snowboard.jpg') }}" height="250vh" alt="">
                        </div>
        
                        <div class="item-entry__text">
                            
                            <h1 class="item-entry__title"><a href="single-standard.html">What Your Music Preference Says About You and Your Personality.</a></h1>
                                
                            <div class="item-entry__date">
                                <p>June 15, 2018</p>
                            </div>
                        </div>
                    </div> <!-- item-entry -->
    
                </article> <!-- end article -->

                <article class="col-block">
                
                    <div class="item-entry" data-aos="zoom-in">
                        <div class="item-entry__thumb">
                            <img src="{{ asset('css/images/fond-snowboard.jpg') }}" height="250vh" alt="">
                        </div>
        
                        <div class="item-entry__text">
                            
                            <h1 class="item-entry__title"><a href="single-standard.html">Create Meaningful Family Moments.</a></h1>
                                
                            <div class="item-entry__date">
                                <p>June 15, 2018</p>
                            </div>
                        </div>
                    </div> <!-- item-entry -->
    
                </article> <!-- end article -->

                <article class="col-block">
                
                    <div class="item-entry" data-aos="zoom-in">
                        <div class="item-entry__thumb">
                            <img src="{{ asset('css/images/fond-snowboard.jpg') }}" height="250vh" alt="">
                        </div>
        
                        <div class="item-entry__text">
                            
                            <h1 class="item-entry__title"><a href="single-standard.html">Gardening: The Secret to Happiness.</a></h1>
                                
                            <div class="item-entry__date">
                                <p>June 15, 2018</p>
                            </div>
                        </div>
                    </div> <!-- item-entry -->
    
                </article> <!-- end article -->

                <article class="col-block">
                
                    <div class="item-entry" data-aos="zoom-in">
                        <div class="item-entry__thumb">
                            <img src="{{ asset('css/images/fond-snowboard.jpg') }}" height="250vh" alt="">
                        </div>
        
                        <div class="item-entry__text">
                            
                            <h1 class="item-entry__title"><a href="single-standard.html">An Examination of Minimalistic Design.</a></h1>
                                
                            <div class="item-entry__date">
                                <p>June 15, 2018</p>
                            </div>
                        </div>
                    </div> <!-- item-entry -->
    
                </article> <!-- end article -->

            </div> <!-- end entries -->
        </div> <!-- end entries-wrap -->
{% endblock %}

