{% extends 'base.html.twig' %}

{% block title %}index{% endblock %}

{% block stylesheets %}
    <style>
        #trick-hidden {
            display: none;
        }
        #hidden {
            display: none;
        }
    </style>
{% endblock %}

{% block body %}


    {# On charge la bibliothèque jQuery. Ici, je la prends depuis le CDN google
       mais si vous l'avez en local, changez simplement l'adresse. #}
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>

    <div class="nav justify-content-left" id="bannere">
        <h1>Le snow a portée de main</h1>
    </div>

    <div class="row entries-wrap wide">
        <div class="entries" >
            {% for trick in tricks %}
                <article {% if loop.index > 10 %} id="trick-hidden" {% endif %} class="col-block" >

                    <div class="item-entry" data-aos="zoom-in">
                        <div class="item-entry__thumb">
                            {% for image in trick.images|slice(0,1) %}
                                <img src="../images/{{image.name}}" height="250vh" alt="">
                            {% endfor %}
                        </div>

                        <div class="item-entry__text">    

                            <h1 class="item-entry__title"><a href="/Snowtricks/public/index.php/trick/{{ trick.id }}">{{ trick.title }}</a></h1>

                            <div class="item-entry__date">
                                <p>{{ trick.createAt ? trick.createAt|date('Y-m-d H:i:s') : '' }}</p>
                            </div>
                        </div>
                    </div> <!-- item-entry -->

                </article> <!-- end article -->
            {% else %}
                <p colspan="5">no records found</p>
            {% endfor %}
        </div>
    </div>
    <div id="buttonloadmore">
        <button id="add-more" class="btn btn-default" >Load more</button>   
    </div>
    {% if is_granted('IS_AUTHENTICATED_REMEMBERED') %}
        <a href="{{ path('trick_new') }}">Create new</a>    
    {% endif %}
    <script>
		var $addMoreList = document.querySelectorAll('#add-more');

		for ($addMore of $addMoreList) {
			$addMore.addEventListener('click', function () {
				displayNext5Tricks();
			});
		}

		checkDisplayAddMore();

		function displayNext5Tricks() {
			var $tricksHidden = document.querySelectorAll('#trick-hidden');

			var i = 0;
			for ($trickHidden of $tricksHidden) {
				if (i >= 5) {
					continue;
				}

				$trickHidden.classList.remove('trick-hidden');

				i++;
			}

			checkDisplayAddMore();
		}

		function checkDisplayAddMore() {
			if (document.querySelectorAll('#trick-hidden').length === 0) {
				for ($addMore of $addMoreList) {
					$addMore.classList.add('hidden');
				}
			}
		}
    </script>
    <br/><br/><br/><br/><br/>

{% endblock %}
