{% extends 'base.html.twig' %}

{% block title %}index{% endblock %}

{% block body %}
    
        
    {# On charge la bibliothèque jQuery. Ici, je la prends depuis le CDN google
       mais si vous l'avez en local, changez simplement l'adresse. #}
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
    
    <div class="nav justify-content-left" id="bannere">
        <h1>Phrase d'accorche</h1>
    </div>

    <div class="row entries-wrap wide">
        <div class="entries" >
            {% for trick in tricks|slice(0, 8) %}
                <article class="col-block">

                    <div class="item-entry" data-aos="zoom-in">
                        <div class="item-entry__thumb">
                            <img src="{{ asset('css/images/fond-snowboard.jpg') }}" height="250vh" alt="">
                        </div>

                        <div class="item-entry__text">    

                            <h1 class="item-entry__title"><a href="single-standard.html">{{ trick.title }}</a></h1>

                            <div class="item-entry__date">
                                <p>{{ trick.createAt ? trick.createAt|date('Y-m-d H:i:s') : '' }}</p>
                            </div>
                        </div>
                    </div> <!-- item-entry -->

                </article> <!-- end article -->
            {% else %}
                <p colspan="5">no records found</p>
            {% endfor %}
            
                <span id="loadmore" class="btn btn-default">Load more</span>
            
            <script type="text/javascript">
                var element = document.getElementById('loadmore');
                element.onclick = function() {
                    alert("Vous m'avez cliqué !");
                };
            </script>           

        </div> <!-- end entries -->
    </div> <!-- end entries-wrap -->
    
    <br/><br/><br/><br/><br/>
    
    {% for trick in tricks|slice(9, 100) %}
                        <article class="col-block" id="hidden">

                            <div class="item-entry" data-aos="zoom-in">
                                <div class="item-entry__thumb">
                                    <img src="{{ asset('css/images/fond-snowboard.jpg') }}" height="250vh" alt="">
                                </div>

                                <div class="item-entry__text">    

                                    <h1 class="item-entry__title"><a href="single-standard.html">{{ trick.title }}</a></h1>

                                    <div class="item-entry__date">
                                        <p>{{ trick.createAt ? trick.createAt|date('Y-m-d H:i:s') : '' }}</p>
                                    </div>
                                </div>
                            </div> <!-- item-entry -->

                        </article> <!-- end article -->
                    {% else %}
                        <p colspan="5">no records found</p>
                    {% endfor %}
{% endblock %}

