{% extends 'base.html.twig' %}

{% block title %}Tricks{% endblock %}

{% block body %}
    <h1>Tricks</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ trick.id }}</td>
            </tr>
            <tr>
                <th>Title</th>
                <td>{{ trick.title }}</td>
            </tr>
            <tr>
                <th>Content</th>
                <td>{{ trick.content }}</td>
            </tr>
            <tr>
                <th>Create_at</th>
                <td>{{ trick.createAt ? trick.createAt|date('Y-m-d H:i:s') : '' }}</td>
            </tr>      
            <tr>
                <th>Comment</th>
                <td> 
                    {% for comment in trick.comments %}
                        {{ comment.content }}
                    {% endfor %}
                </td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('trick_index') }}">back to list</a>

    <a href="{{ path('trick_edit', {'id': trick.id}) }}">edit</a>

    {{ include('trick/_delete_form.html.twig') }}
    
    {{ include('comment/_form.html.twig') }}
    {% for video in trick.videos %}
       <iframe src="{{ video.urlIFrame }}" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
    {% endfor %}
    
{% endblock %}
